/* contactform.css */

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  background-color: darkslategrey;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
  color: #fff;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 20px;
  text-align: center;
}

.contact-form label {
  margin-bottom: 12px;
  padding: 10px;
  font-size: 14px;
  color: whitesmoke;
  font-family: 'Times New Roman', Times, serif;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  margin-bottom: 16px;
  padding: 15px;
  border: 2px solid #ced4da;
  border-radius: 5px;
  font-size: 14px;
  color: #495057;
  transition: border-color 0.3s ease; /* Add a smooth transition for border color */
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #007bff; /* Change border color on focus */
}

.contact-form button {
  background-color: #007bff;
  color: #fff;
  padding: 14px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease; /* Add a smooth transition for background color */
}

.contact-form button:hover {
  background-color: #0056b3;
}