/* contactform.css */

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  background-color: darkslategrey; /* Dark background color */
  padding: 20px;
  border-radius: 10px; /* Add rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add subtle box shadow */
}

.contact-form label {
  margin-bottom: 12px; /* Adjusted margin */
  padding: 10px; /* Added padding */
  font-size: 14px;
  color: whitesmoke; /* Dark text color */
  font-family: 'Times New Roman', Times, serif; /* Set font family */
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  margin-bottom: 16px;
  padding: 20px;
  border: 5px solid #ced4da; /* Light border color */
  border-radius: 5px;
  font-size: 14px;
  color: #495057;
}

.contact-form button {
  background-color: #007bff;
  color: #fff;
  padding: 14px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.contact-form button:hover {
  background-color: #0056b3;
} 