:root {
  --footer-bg-color: #333;
  --footer-text-color: white;
  --footer-padding: 10px;
  --icon-color: #dcddde;
  --icon-size: 20px;
  --icon-hover-color: #7289da;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);
  padding: var(--footer-padding);
}

.footer-text {
  font-size: 15px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.social-icons {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.social-icons li {
  margin: 0 10px;
}

.social-icons li a {
  color: var(--icon-color);
  font-size: var(--icon-size);
}

.social-icons li a:hover {
  color: var(--icon-hover-color);
}