/* styles/homepage.css */

.homepage-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.loremipsum-box {
    background-color: black;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-family: 'Times New Roman';
}

.loremipsum {
    margin: 0;
    font-size: 16px;
    line-height: 1.8; /* Set line height for better spacing */
    font-weight: bold; /* Make the text bold */
    text-align: justify; /* Justify the text */
}