/* Menu.css */

nav {
  background-color: darkslategrey; /* Dark background color */
  padding: 10px 20px; /* Add padding to the top and bottom (10px) and left and right (20px) of the menu */
  margin: 20px; /* Add margin to the entire nav element */
  font-family: 'Times New Roman', Times, serif; /* Set the desired font family */
  font-size: 25px; /* Set the desired font size */
}

ul {
  list-style: none; /* Remove default list styles */
  display: flex;
  justify-content: space-around; /* Distribute menu items evenly */
}

li {
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff; /* White text color for links */
  font-weight: bold;
  font-size: 25px;
  transition: color 0.3s; /* Smooth color transition on hover */
}

a:hover {
  color: #007bff; /* Change color on hover to mimic Apple's link color */
}
