/* Menu.css */

nav {
  background-color: darkslategrey; /* Dark background color */
  padding: 10px 0; /* Add padding to the top and bottom (10px) and remove left and right padding */
  margin: 0; /* Remove margin */
  font-family: 'Times New Roman', Times, serif; /* Set the desired font family */
}

ul {
  list-style: none; /* Remove default list styles */
  display: flex;
  justify-content: space-around; /* Distribute menu items evenly */
  margin: 0; /* Remove margin */
  padding: 0; /* Remove padding */
}

li {
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff; /* White text color for links */
  font-weight: bold;
  font-size: 20px; /* Adjusted font size */
  transition: color 0.3s; /* Smooth color transition on hover */
}

a:hover {
  color: #007bff; /* Change color on hover to mimic Apple's link color */
}